**/wwwroot/lib/*
**/obj/*
**/bin/*
**/tempkey.jwk

.vs/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates

*.dll
*.pdb
*.exe
*.app
*.out
*.lib
*.nupkg
*.snk

.DS_Store
Thumbs.db

launchSettings.json

DocumentLayout.json